/**
LANGUAGE THEMES:
Javascript Yellow = #f7df1e
Python Blue = #3776ab
HTML Red = #E44D26
CSS Blue = #66D3FA
SQL Orange = #F29111
REACT Blue = #61DBFB
NODE JS = #3c873a
**/

body {
    background-color: rgb(152, 152, 152);
    /* background-image: "../../images/bootcampVScode.png"; */
}


@media screen and ( max-width: 1024px ) {
  .parallax {
    /* min-height: 500px; */
  background-image: none;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.logo { width: 200px; }
    }
    @media screen and ( min-width:1025px ) and ( max-width: 1280px ) {
      .parallax {
        /* min-height: 500px; */
      background-image: none;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
    }
    .logo { width: 300px; }
    }
    @media screen and ( min-width: 1081px ) {
      .parallax {
        /* min-height: 500px; */
      background-image: url('./VScode.png');
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
    }
    .logo { width: 300px; 
    }
    }
    .logo { width: 300px; 
    }
