.editor-title {
    text-align: center;
    padding-top: 2px;

}

.top-pane {
    background-color: #3A5260;
    color: #fdd900;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
   

}
.py-top-pane {
    background-color: #3E6D87;
    color: #ffd940;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
   

}
.xml-top-pane {
    background-color: #BB3C45;
    color: white;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
}

.css-top-pane {
    background-color: #85A4A6;
    color: white;

}

.shell-top-pane {
    background-color: #3A5260;
    color: white;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
}

.sql-top-pane {
    background-color: #3C6B65;
    color: white;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
}
.code-mirror-wrapper {
    border: 1px solid black;
}
.runButton {
    display: flex;
    float: right;
    margin-top: 20px;
}

.iFrame {
    display: none;
}

.notes-section{
    width: 100%;
    height: 100px;
    margin-top: 15px;
}




/*LISTS FOR TIPS AND TRICKS */
.tipsDivJS {
    background-color: #3A5260;
    border-radius: 8%;

}

.headlineJS {
    background-color: #3A5260;
    color: #fdd900;
    text-align: center;
    padding-top: 8px;

}
.ULlistJS {
    list-style: square;
    background-color: #fcce69;
    color: rgb(34, 34, 34);
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;

}

.tipsDivPY {
    background-color: #3E6D87;
   border-radius: 8%;
    
}

.headlinePY {
    background-color: #3E6D87;
    color: #ffd940;
    text-align: center;
    padding-top: 8px;
}

.ULlistPY {
    list-style: square;
    background-color: #ffd940;
    color: #224c6d;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}

.tipsDivSQL {
    /* background-color: rgb(204, 99, 0); */
    background-color: #3C6B65;
    border-radius: 8%;
}

.headlineSQL {
    background-color: #3C6B65;
    color: white;
    text-align: center;
    padding-top: 8px;
}

.ULlistSQL {
    background-color: rgb(244, 244, 244);
    color: #1f413c;
    list-style: square;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}

.tipsDivShell {
    background-color: #3A5260;
    border-radius: 8%;
}

.headlineShell {
    background-color: #3A5260;
    color: white;
    text-align: center;
    padding-top: 8px;
}

.ULlistShell {
    list-style: square;
    padding-bottom: 10px;
    color:rgb(33, 33, 33);
    background-color: rgb(245, 245, 245);
    font-size: 18px;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}

.tipsDivHTML {
    background-color: #BB3C45;
    border-radius: 8%;
}

.headlineHTMLCSS {
    background-color: #BB3C45;
    color: white;
    text-align: center;
    padding-top: 8px;
}

.ULlistHTMLCSS {
    background-color: #dfedee;
    color:rgb(91, 88, 109);
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}

/*END OF TIPS AND TRICKS LIST */

.tipsHeadline {
    text-align: center;
    font-weight: bolder;

}
li {
    padding-top: 10px;
}


/* title input box for code editor */

.editorInput {
    border-radius: 3%;
}
/* Self-Assessment */

.assessDiv {
    align-items: center;
    text-align: center;
}

.selfComments {
    margin-top: 5px;
    padding-top: 8px;
    width: 33%;
    height: 80px;
}

.assessHeadlineJS {
    background-color: #3A5260;
    color: #fdd900;

}

.assessHeadlinePY {
    background-color: #1e6685;
    color: #ffd500;
}

.assessHeadlineSQL {
    background-color: #3C6B65;
    color: white;
}

.assessHeadlineShell {
    background-color: #3A5260;
    color: white;
}

.assessHeadlineHTML {
    background-color: #BB3C45;
    color: white;

}